
<%= render :partial => '/homes/header.html.erb' %>

<div class="mis-presupuestos">
  <span class="material-symbols-outlined" style="font-size:1rem;font-weight:700;">arrow_back</span>
  <div class="txt-presupuesto">
  <p class="texto-presupuesto">MIS PRESUPUESTOS</p>
  </div>
</div>
<div class="cuadro-busqueda">
<input class="search-input" type="email" placeholder="Buscar" style="font-size:1rem;font-family: 'Barlow', sans-serif;color:#696965;font-weight:600;">
<span class="material-symbols-outlined" style="color:#696965;">search</span>
</div>
<div>
<%= link_to t('new.new_budget'), new_budget_path %>
</div>


<%= render :partial => 'budgetview.html.erb' %>

<%= render :partial => '/homes/footer.html.erb' %>
