<div class="popup">
    <p class="titulo">REGISTRATE</p>
    <div class='mail'>Ingresa tu correo</div>
    <label for="input" class='email-input'></label>
    <div class="Ingreso"> 
<<<<<<< HEAD
        <input class="Mailnput"type="email" placeholder="email.com">
    <div class="form-check">
        <label class="container-checkbox" style="padding:0px;">
            <input class="checkbox" type="checkbox" checked="checked">
            <span class="checkmark">Términos y condiciones</span>
        </label>
    </div>
=======
        <div class="form-check">
            <label class="container">
                <input class="checkbox" type="checkbox" checked="checked">
                <span class="checkmark">Términos y condiciones</span>
            </label>
        </div>
>>>>>>> 071ea6b (routeo y correxiones en login)
    </div>
    <div class="boton-confirmacion">
        <button class="btn-submit" type="submit">CONFIRMAR</button>
    </div>
    <div class="separador">
        <hr class="linea-separadora">
        <p class="texto-separador">o también</p>
        <hr class="linea-separadora">
<<<<<<< HEAD
       </div>
    <div class="boton-google">
        <a class="btn-google" href="#" role="button">
            <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-icon-png-transparent-background-osteopathy-16.png" alt="" class="google-logo">
            <p class="registro1">Registrate con Gmail</p>
        </a>
    </div>
    <div class="boton-facebook">
        <a class="btn-facebook" href="#" role="button">
            <img src="https://pnggrid.com/wp-content/uploads/2021/04/facebook-white-circle-1024x1024.png" alt="" class="facebook-logo">
            <p class="registro2">Registrate con Facebook</p>
        </a>
=======
    </div>
    <div style='btn-container'>
        <button class="btn-google" href="#" role="button">
            <div clas='btn-inside-wrapper d-flex justify-content-between'>
                <div>asd</div>
                <div>Registrarse con Gmail</div>
            </div>
        </button>
>>>>>>> 071ea6b (routeo y correxiones en login)
    </div>
    <div style='btn-container'>
        <button class='btn-facebook'>
            <div>
                <div>asd</div>
                <div>Registrase con Facebook</div>
            </div>
        </button>
    </div>
 </div>