<div class="popup">
    <p class="titulo">REGISTRATE</p>
    <div class='mail'>Ingresa tu correo</div>
    <label for="input" class='email-input'></label>
    <div class="Ingreso"> 
        <div class="form-check">
            <label class="container">
                <input class="checkbox" type="checkbox" checked="checked">
                <span class="checkmark">Términos y condiciones</span>
            </label>
        </div>
    </div>
    <div class="boton-confirmacion">
        <button class="btn-submit" type="submit">CONFIRMAR</button>
    </div>
    <div class="separador">
        <hr class="linea-separadora">
        <p class="texto-separador">o también</p>
        <hr class="linea-separadora">
    </div>
    <div style='btn-container'>
        <button class="btn-google" href="#" role="button">
            <div clas=''>
                <div>asd</div>
                <div>Registrarse con Gmail</div>
            </div>
        </button>
    </div>
    <div style='btn-container'>
        <button class='btn-facebook'>
            <div>
                <div>asd</div>
                <div>Registrase con Facebook</div>
            </div>
        </button>
    </div>
 </div>