

<div class="accesories-card">
    <img src="https://images.puma.net/images/078847/01/fnd/ARG/"><img>
    <p class='accesories-price'>$ 15000</p>
    <div class="top-div">
        <p class="accesories-name">Bolso shopper Frida Kahlo</p>
    </div>
    <div class="bottom-div">
        <p class="accesories-pay-info">3 cuotas de $5.000</p>
    </div>
    <div>
        <button class="see-collection-button">Nueva coleccion</button>
    </div>
</div>