

<div class="accesories-card">
    <img src="https://s3-alpha-sig.figma.com/img/203f/f4b5/1ca3fa1267aaf15bf2f5bfff6de530e1?Expires=1669593600&Signature=GoKur0Kp45bz44w5bhmeUAQ0THcjBdyFDp3msABY6wiSYMOZ1RUDUNcvJNxj1OfJrpBDF8rdli4eCbbXVij2w2CXSr~CmbA7mrg-yqgq-GpW5-H1GQf7uAXIo2ICEadvN68Bl-8czQzSij2CggqIErW-0fYTpoPidod06U3o3iY7we8G2nQI-JHHiLATsOY0kpAVk0c7j7fsmX6gwAuX6aga3m8rS0Lt0tC1a2J7EOQPUtdbTJsILs~oviMuDGpWvTTwzSP6LyweK6lZkNZDtEiSo8DNCveX1qhMCc34xhTdD237LB~mk8SWuOg6rnP6JL8kXRLa-tGgRInsGCH1Bg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"><img>
    <p class='accesories-price'>$ 15000</p>
    <div class="top-div">
        <p class="accesories-name">Bolso shopper Frida Kahlo</p>
    </div>
    <div class="bottom-div">
        <p class="accesories-pay-info">3 cuotas de $5.000</p>
    </div>
    <div>
        <button class="see-collection-button">Nueva coleccion</button>
    </div>
</div>