<footer>
    <section class="section1 d-flex flex-column">
       <div class=" mail-input container-fluid flex-column-reverse flex-md-row order-md-1 p-0">
        <label for="mInput" class="explicacion">Subscribite y obtené 15% OFF en tu primer compra.</label>
        <div class="Suscripcion"> 
        <input class="MailInput"type="email" placeholder="INGRESA TU EMAIL" style="color: #ffffff;">
        <a href="" class="SubmitSuscription">
            <span class="material-symbols-outlined" class="ArrowRight">arrow_right_alt</span>
        </a>
       </div>
    </div>
    <div>
        <div class="container-fluid p-0">
            <div class="d-flex">
                <div class="botones-primarios col-12 col-md-6 d-flex flex-column p-0">
                    <div class="contenedor-boton">
                        <button type="button" class="boton-footer btn btn-link d-flex justify-content-between" style="color: white; text-decoration: none;">Ayuda
                            <span class="material-symbols-outlined m-0">arrow_right</span></a>
                        </button>
                    </div>
                    <div class="contenedor-boton">
                        <button type="button" class="boton-footer btn btn-link d-flex justify-content-between" style="color: white; text-decoration: none;">Acerca de PUMA
                            <span class="material-symbols-outlined m-0">arrow_right</span></a>
                        </button>
                    </div>
                    <div class="contenedor-boton">
                        <button type="button" class="boton-footer btn btn-link d-flex justify-content-between" style="color: white; text-decoration: none;">Politica de cambios
                            <span class="material-symbols-outlined m-0">arrow_right</span></a>
                        </button>
                    </div>
                    <div class="contenedor-boton">
                        <button type="button" class="boton-footer btn btn-link d-flex justify-content-between" style="color: white; text-decoration: none;">Locales cercanos
                            <span class="material-symbols-outlined m-0">arrow_right</span></a> 
                        </button>
                    </div>
                    <div class="contenedor-boton">
                        <button type="button" class="boton-footer btn btn-link d-flex justify-content-between" style="color: white; text-decoration: none;">terminos y condiciones
                            <span class="material-symbols-outlined m-0">arrow_right</span></a>
                        </button>
                    </div>
        </div>
    </div>
    </div>    
        <div class="contenedor-2">
            <div class="contenedor-boton">
                <button type="button" class="boton-footer btn btn-link d-flex justify-content-between " style="color: white; text-decoration: none; font-weight: 600;">CONTACTO
                    <span class="material-symbols-outlined m-0" style="font-weight: 600;">mail</span></a>
                </button>
        </div>
        <div class="fotos-redes">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/768px-Facebook_Logo_%282019%29.png" class="imagen-redes">
            <img src="https://www.edigitalagency.com.au/wp-content/uploads/Twitter-logo-png.png" class="imagen-redes">
            <img src="https://www.freepnglogos.com/uploads/logo-ig-png/logo-ig-stunning-instagram-logo-vector-download-for-new-7.png" class="imagen-redes">
            <img src="https://www.freepnglogos.com/uploads/youtube-logo-icon-png-11.png" class="imagen-redes">        
        </div>
        <div class="desplegable-pais dropdown">
                 <button class="desplegable-pais-boton" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
                    PAÍS
                    <span class="material-symbols-outlined m-0">arrow_drop_down</span>
                </button>
                 <ul class="dropdown-menu border">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                 </ul>
             </div>
        </div>
    </section>
    <div class="section2">    
            <img src="https://ar.puma.com/media/wysiwyg/DATAWEB.jpg" class="imagen-marca">
            <figcaption style="color: #ffffff; font-family= inter; font-size: 12.5px; line-height:">© 2022 PUMA, Inc.</figcaption> 
    </div>
            <p class="img-caption" style="color: #ffffff; font-family= inter; font-size: 12px;">Todos los derechos reservados.</p> 
    </footer>

