<footer class="d-flex flex-column">
    <div class="section-1 p-1 order-md-1">
        <div class=" mail-input">
            <p class="label-input">Subscribite y obtené 15% OFF en tu primer compra.</p>
            <div class="suscripcion"> 
                <input class="mailnput"type="email" placeholder="INGRESA TU EMAIL">
                <a href="" class="submit-suscription">
                <span class="material-symbols-outlined" class="ArrowRight" style="color: white; margin-top: 6px;  margin-right: 0px">arrow_right_alt</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container" style="padding:0px; margin: 0 auto;">
        <div class="agregarclase row justify-content-md-center">
           <div class="botones-ayuda  col-12 col-md" style="padding:0px;max-width:539px">
                <div class="contenedor-boton" style="padding-right:0.5rem; padding-left:0.5rem;padding-top:1rem;padding-bottom:4px;">
                    <button type="button" class="boton-footer btn btn-link d-flex justify-content-between" style="color: white; text-decoration: none; padding:0px;">Ayuda
                    <span class="material-symbols-outlined m-0">arrow_right</span></a>
                    </button>
                </div>
                <div class="contenedor-boton" style="padding-right:0.5rem; padding-left:0.5rem;padding-top:1rem;padding-bottom:4px;">
                    <button type="button" class="boton-footer btn btn-link d-flex justify-content-between" style="color: white; text-decoration: none; padding:0px;">Acerca de PUMA
                    <span class="material-symbols-outlined m-0">arrow_right</span></a>
                    </button>
                </div>
                <div class="contenedor-boton" style="padding-right:0.5rem; padding-left:0.5rem;padding-top:1rem;padding-bottom:4px;">
                    <button type="button" class="boton-footer btn btn-link d-flex justify-content-between" style="color: white; text-decoration: none; padding:0px;">Politica de cambios
                    <span class="material-symbols-outlined m-0">arrow_right</span></a>
                    </button>
                </div>
                <div class="contenedor-boton" style="padding-right:0.5rem; padding-left:0.5rem;padding-top:1rem;padding-bottom:4px;">
                    <button type="button" class="boton-footer btn btn-link d-flex justify-content-between" style="color: white; text-decoration: none; padding:0px;">Locales cercanos
                    <span class="material-symbols-outlined m-0">arrow_right</span></a>
                    </button>
                </div>
                <div class="contenedor-boton" style="padding-right:0.5rem; padding-left:0.5rem;padding-top:1rem;padding-bottom:4px;">
                    <button type="button" class="boton-footer btn btn-link d-flex justify-content-between" style="color: white; text-decoration: none; padding:0px;">Terminos y condiciones
                    <span class="material-symbols-outlined m-0">arrow_right</span></a>
                    </button>
                </div>
            </div>
            <div class="contacto-pais col-12 col-md" style="padding:0px;max-width:445px">
                <div class="contenedor-boton" style="padding-right:0.5rem; padding-left:0.5rem;padding-top:1rem;padding-bottom:4px;margin-bottom:1rem;">
                    <button type="button" class="boton-footer btn btn-link d-flex justify-content-between" style="color: white; text-decoration: none; font-weight:600; padding:0px;">CONTACTO
                    <span class="material-symbols-outlined m-0">mail</span></a>
                    </button>
                </div>
                <div class="fotos-redes">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/768px-Facebook_Logo_%282019%29.png" class="imagen-redes">
                    <img src="https://www.edigitalagency.com.au/wp-content/uploads/Twitter-logo-png.png" class="imagen-redes">
                    <img src="https://www.freepnglogos.com/uploads/logo-ig-png/logo-ig-stunning-instagram-logo-vector-download-for-new-7.png" class="imagen-redes">
                    <img src="https://www.freepnglogos.com/uploads/youtube-logo-icon-png-11.png" class="imagen-redes">        
                </div>
                <div class="desplegable-pais">
                    <button class="desplegable-pais-boton" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
                        PAÍS
                        <span class="material-symbols-outlined m-0">arrow_drop_down</span>
                    </button>
                    <ul class="dropdown-menu border">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section2 order-md-2">    
        <img src="https://ar.puma.com/media/wysiwyg/DATAWEB.jpg" class="imagen-marca"> 
        <p style="color: #ffffff; font-family: 'Barlow', sans-serif; font-size: 12.5px; text-align:center;">© 2022 PUMA, Inc.</p>
        <p class="img-caption" style="color: #ffffff; font-family: 'Barlow', sans-serif; font-size: 12px; text-align:center;">Todos los derechos reservados.</p> 
    </div>

</footer>