    <footer>
        <Section class="Section1 d-flex flex-column">
           <div class="container-fluid flex-column-reverse flex-md-row order-md-1 p-0">
            <label for="mInput" class="explicacion">Subscribite y obtené 15% OFF en tu primer compra.</label>
            <div class="Suscripcion"> 
            <input class="MailInput"type="email" placeholder="INGRESA TU EMAIL">
            <a href="" class="SubmitSuscription">
                <span class="material-symbols-outlined" class="ArrowRight">arrow_right_alt</span>
            </a>
           </div>
        </div>
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="BotonesPrimarios col-12 col-md-6 d-flex flex-column p-0">
                        <button type="button" class="btn btn-link">Ayuda
                            <span class="material-symbols-outlined">arrow_right</span></a>
                        </button>
                        <button type="button" class="btn btn-link">Acerca de PUMA
                            <span class="material-symbols-outlined">arrow_right</span></a>
                        </button>
                        <button type="button" class="btn btn-link">Politica de cambios
                            <span class="material-symbols-outlined">arrow_right</span></a>
                        </button>
                        <button type="button" class="btn btn-link">Locales cercanos
                            <span class="material-symbols-outlined">arrow_right</span></a> 
                        </button>
                        <button type="button" class="btn btn-link">terminos y condiciones
                            <span class="material-symbols-outlined">arrow_right</span></a>
                        </button>
                    </div>
                        <div class="Contacto col-12 col-md-6 d-flex flex-column justify-content-between p-0">
                              <button type="button" class="btn btn-link">CONTACTO
                                <span class="material-symbols-outlined" class="mail">mail</span></a>
                            </button>
                            <div class="RedesSociales d-flex justify-content-between">
                                <img src="/facebook.svg" alt="circulos" class="imagenesDeFondo">
                                <img src="/twitter.svg" alt="circulos" class="imagenesDeFondo">
                                <img src="/instagram.svg" alt="circulos" class="imagenesDeFondo">
                                <img src="/youtube.svg" alt="circulos" class="imagenesDeFondo">
                        </div>
                 <div class="dropdown">
                     <button class="Desplegable" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
                        PAÍS
                        <span class="material-symbols-outlined">arrow_drop_down</span>
                    </button>
                     <ul class="dropdown-menu border">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                     </ul>
                 </div>
                </div>
                    </div>
                   </div>
            </div>
        </Section>
        <div class="container-fluid p-0">
            <div class="row  justify-content-center">
                <img class="DataFiscal" src="http://www.aliciarosenthal.com.ar/blog/wp-content/uploads/2015/01/data-fiscal.jpg" alt="DataFiscald ">
                 <div class="marca d-flex flex-column">
                     <figcaption >© 2022 PUMA, Inc.</figcaption>
                    <label>Todos los derechos reservados.</label>
                    </div>
    
        </footer>