<footer>
    <div class="section-1">
        <div class=" mail-input container-fluid flex-column-reverse flex-md-row order-md-1 p-0">
        <p class="label-input">Subscribite y obtené 15% OFF en tu primer compra.</p>
        <div class="suscripcion"> 
        <input class="mailnput"type="email" placeholder="INGRESA TU EMAIL">
        <a href="" class="submit-suscription">
            <span class="material-symbols-outlined" class="ArrowRight" style="color: white; margin-top: 6px;  margin-right: 0px">arrow_right_alt</span>
        </a>
        </div>
        </div>
    </div>
</footer>

    <div class="section2">    
        <img src="https://ar.puma.com/media/wysiwyg/DATAWEB.jpg" class="imagen-marca">
        <figcaption style="color: #ffffff; font-family= inter; font-size: 12.5px; line-height:">© 2022 PUMA, Inc.</figcaption> 
    </div>
    <p class="img-caption" style="color: #ffffff; font-family= inter; font-size: 12px;">Todos los derechos reservados.
    </p> 
</footer>