

<div class="presupuestos-div d-lg-none"><p class="info-text">PRESUPUESTOS<p></div>
    <div class="d-none d-lg-flex presupuestos-div-desktop">
        <div style="display:flex">
        <div style="margin-right: 20px"><p class="info-text">Buscar tiendas<p></div>
        <div style="margin-right: 20px"><p>|<p> </div>
        <div style="margin-right: 20px"><p class="info-text">Cambios y devoluciones<p></div>
        <div style="margin-right: 20px"><p>|<p></div>
        <div style="margin-right: 20px"><p class="info-text">Seguir pedidos<p></div>
        </div>
        <div style="display:flex; align-items: center; justify-content: space-between; width: 250px">
            <div><p class="info-text">Mis presupuestos<p></div>
            <div><p class="info-text"> | <p></div>
            <div style="display: flex; align-items: center"><p class="info-text"><%= link_to 'Mi cuenta', users_path(:id),  :class => 'info-text' %><p><span class="material-symbols-outlined user-symbol-" style="color:white;font-size: 25px; display: absolute; padding-left: 2px; margin-top: 5px;">person</span><p></div>
        </div>
    </div>

<div class="logo-div d-lg-none">
    <div><span class="material-symbols-outlined" style="color:white;font-size: 2rem">menu</span></div>
    <div><img style='height: 28px' src='https://www.transparentpng.com/thumb/puma-logo/It9NZf-puma-logo-transparent.png'></div>
    <div>
        <span class="material-symbols-outlined" style="color:white;font-size: 2rem">person</span>
        <span class="material-symbols-outlined"  style="color:white;font-size: 2rem">search</span>
    </div>
</div>

<div class="d-none d-lg-flex logo-div-desktop">
    <div><p>Mujeres<p></div>
    <div><p>Hombres<p></div>
    <div><p>Niños<p></div>
    <div><p>Deportes<p></div>
    <div><p>Colecciones<p></div>
    <div><img style='height: 50px' src='https://www.transparentpng.com/thumb/puma-logo/It9NZf-puma-logo-transparent.png'></div>
    <div style="height:50px; display: flex; width: 350px; border-radius: 8px; justify-content:space-between;background-color: #ffffff;">
        <input type="search" id="site-search" placeholder="Buscar" style="border: none; width: 100%">
        <span class="material-symbols-outlined" style="color: #111111; padding: 13px;">search</span>
    </div>
    <div style="display: flex; justify-content: space-around; width: 100px">
        <div><span class="material-symbols-outlined" style="color:white;">favorite</span></div>
        <div><p>|<p></div>
        <div><span class="material-symbols-outlined" style="color:white">shopping_cart</span></div>
    </div>
</div>


</div>
<div class="d-none d-lg-flex info-div-desktop"><p class="info-text">Suscribite para obtener un 15% de descuento. UNITE | Ahora podes pagar hasta 3 cuotas sin interés.<p></div>
<div class="d-lg-none info-div-mobile "><p class="info-text">Envios gratis a partir de $20.000<p></div>
