
<div class='header'>
    <div class='arrow-icon'><span class="material-symbols-outlined">arrow_back</span></div>
    <div class='header-title'><h1>MI CUENTA<h1></div>
</div>
<div class='welcome-div'>
    <div><img src='https://www.pngfind.com/pngs/m/317-3177131_636682202684372240-user-profile-photo-round-hd-png-download.png'></div>
    <div class='welcome-text'><h1>Bienvenido<h1></div>
</div>
<div class='user-data-div'>
    <p class='user-data-info'>DATOS<p>
    <hr>
    <p class='user-data-info'>Cristian<p>
    <p class='user-data-info'>Falseti<p>
    <p class='user-data-info'>cris.false@gmail.com<p>
    <p class='user-data-info'>+541589233495<p>
    <p class='user-data-info'>Calle Falsa 123<p>
    <button class='edit-button'>Editar</button>
</div>
