

<div class="product-card">
    <img src="https://s3-alpha-sig.figma.com/img/1c11/e8dc/17cda068ca243717bf19e5f02185a1a4?Expires=1669593600&Signature=SDrZAfNX744rHOP8EhpXoAqOQOR-MbGcSSao9osVAZnRMq-Ei9mb-z89YwkRoK2dFaBMDFmFW~gfyVxzErNebLNoJezEKsXOjD7M-0i7iGQ22OnYF1v5xOPcAlipVJ4izacpFck1Jl8Mo1snA8Yo9e50hM-ab72tAzcVzsyG5NNZiu~lMK7lOlwcHrIsByPj8SfwvcsEELdSDNXcftLkM5PXD85oQpCS7TY1ez2VvFqBuu778jWJY7Fls1vuDHO-r-ODq50ZMfchcivoh-FsxqXT85r~~iyqHaeZBh3rxoW~UbX1QhNI4vdoNjr3DqNRnr7zpaCVQNwlS1lYC4-wVA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"><img>
    <div class="top-div">
        <p class="product-price">$25000</p>
        <p class="product-sell-status">Más vendido</p>
    </div>
    <div class="middle-div">
        <p class="product-name">Botines Future - Z 2</p>
    </div>
    <div class="bottom-div">
        <p class="product-color">Negros</p>
        <p class="bottom-div-divider"><div>|</div><p>
        <p class="product-shipping-status">Envío Gratis</p>
    </div>
    <div>
        <button class="buy-button">Comprar</button><br>
        <button class="add-button"><span class="material-symbols-outlined">add_circle</span> A presupuesto</button>
    </div>
</div>

<style>
.material-symbols-outlined {
    margin-right: 8px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
</style>