



<div class="product-card">
    <img src="https://essential.vtexassets.com/arquivos/ids/543902/965-0293_1.jpg?v=637850383058970000"><img>
    <div class="top-div">
        <p class="product-price">$<%= product.price %></p>
        <p class="product-sell-status">Más vendido</p>
    </div>
    <div class="middle-div">
        <p class="product-name"><%= product.name %></p>
    </div>
    <div class="bottom-div">
        <p class="product-color">Negros</p>
        <p class="bottom-div-divider"><div>|</div><p>
        <p class="product-shipping-status">Envío Gratis</p>
    </div>
    <div>
        <button class="buy-button">Comprar</button><br>
        <button class="add-button"><span class="material-symbols-outlined">add_circle</span> A presupuesto</button>
    </div>
</div>


<style>

.material-symbols-outlined {
    margin-right: 8px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
</style>