
        <div class='header'>
            <div class='arrow-icon'><span class="material-symbols-outlined">arrow_back</span></div>
            <div class='header-title'><h1>MI CUENTA<h1></div>
        </div>

<hr class='purple-line'>


<div class='wrapper'>
<div class='seccionalta'>
    <div class='container'>
        <div class='welcome-div row'>
            <div class='col-lg'><img class='col-lg' src='https://www.pngfind.com/pngs/m/317-3177131_636682202684372240-user-profile-photo-round-hd-png-download.png'></div>
            <div class='welcome-text col-lg'><h1  class='col-lg' style='12px'>Bienvenido<h1></div>
        </div>
        <div class='user-data-div'>
            <p class='user-data-info'>DATOS<p>
            <hr>
            <p class='user-data-info'>Cristian<p>
            <p class='user-data-info'>Falseti<p>
            <p class='user-data-info'>cris.false@gmail.com<p>
            <p class='user-data-info'>+541589233495<p>
            <p class='user-data-info'>Calle Falsa 123<p>
            <button class='edit-button'>Editar</button>
        </div>
    <div>
</div>

<div class="seccionbaja">
        <div class="dropdown">
            <button class="dropbtn"> 
                <p class='droptitle'>Mis presupuestos<p></p>
                <span class="material-symbols-outlined">keyboard_arrow_down</span>
            </button>
            <div class="dropdown-content">
                <div class="content-top">
                    <p class="contenttittle">Nombre</p>
                    <p class="contenttittle">Fecha</p>
                    <p class="contenttittle">Estado</p>
                    <p class="contenttittle">Total</p>
                </div>
            </div>
            <div class="dropdown-content2">
                <div class="content-label">
                    <div class="content">
                        <p class="contentdata">ID/Num presupuesto</p>
                    </div>
                    <div class="content">
                        <p class="contentdata-date">20-04-2022 </p>
                    </div>
                    <div class="content">
                        <p class="contentdata">Activo</p>
                    </div>
                    <div class="content">
                        <p class="contentdata">$320.333</p>
                    </div>
                </div>
                <div class="content-label">
                    <div class="content">
                        <p class="contentdata">ID/Num presupuesto</p>
                    </div>
                    <div class="content">
                        <p class="contentdata-date">20-04-2022 </p>
                    </div>
                    <div class="content">
                        <p class="contentdata">Activo</p>
                    </div>
                    <div class="content">
                        <p class="contentdata">$320.333</p>
                    </div>
                </div>
                <div class="content-label">
                    <div class="content">
                        <p class="contentdata">ID/Num presupuesto</p>
                    </div>
                    <div class="content">
                        <p class="contentdata-date">20-04-2022 </p>
                    </div>
                    <div class="content">
                        <p class="contentdata">Activo</p>
                    </div>
                    <div class="content">
                        <p class="contentdata">$320.333</p>
                    </div>
                </div>
            </div>
        </div>
            <div class="dropdown">
                <button class="dropbtn"> 
                <p class='droptitle'>Mis presupuestos<p></p>
                <span class="material-symbols-outlined">keyboard_arrow_down</span>
                </button>
                <div class="dropdown-content">
                    <button class="tarjeta" type="button">
                        <div class='card-info'>
                            <span class="material-symbols-outlined">credit_card</span>
                            <p class="IDtarjeta"> **** 2657 Debito</p></div>
                        <span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </button>
                    <button class="tarjeta" type="button">
                        <div class='card-info'>
                            <span class="material-symbols-outlined">credit_card</span>
                            <p class="IDtarjeta"> **** 2657 Debito</p></div>
                        <span class="material-symbols-outlined">keyboard_arrow_right</span>
                    </button>
                </div>
            </div>
</div>
