

<div class="product-card">
    <img src="https://http2.mlstatic.com/D_NQ_NP_758972-MLA41899641172_052020-V.jpg"><img>
    <div class="top-div">
        <p class="product-price">$25000</p>
        <p class="product-sell-status">Más vendido</p>
    </div>
    <div class="middle-div">
        <p class="product-name">Botines Future - Z 2</p>
    </div>
    <div class="bottom-div">
        <p class="product-color">Negros</p>
        <p class="bottom-div-divider">|<p>
        <p class="product-shipping-status">Envío Gratis</p>
    </div>
    <button class="buy-button">Comprar</button><br>
    <button class="add-button">a Presupuesto</button>
</div>