<p id="notice"><%= notice %></p>

<h1>Homes</h1>



<%= render :partial => 'header.html.erb' %>

<%= render :partial => 'footer.html.erb' %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

