footer{
    background-color: #111;
}
.section-1{
    max-width: 425px;
}
.label-input{
    color: #fff;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 0.5rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
}
.suscripcion{
    border: solid 2px #fff;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    height: 40px;
}
.mailnput{
    color: #ffffff;
    background-color: #111;
    border: none;
    width: 100%;
}
.contenedor-boton{
    border-bottom: solid 1px #fff;
}
.boton-footer{
    font-size: 10px;
    padding:0px;
    width: 100%;
}
.contenedor-boton{
    padding-left: 5px;
    padding-right: 0.5rem;
    padding-bottom: 5px;
    padding-top: 15px;
}
.imagen-redes{
    width: 24px;
    height: 24px;
}
.fotos-redes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.desplegable-pais-boton{
    width: 100%;
    height: 46px;
    border: solid  2px  #fff;
    border-radius: 4px;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    font-weight: 600;
}
.section2{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

}
.imagen-marca{
    width: 94px;
    height: 129px;
    margin: 0 auto;
}
@media screen and (min-width : 360px) and (max-width:768px){
    footer{
        padding: 1rem;
    }
    div .row{
        width: 328px;
        align-items: center;
        margin: 0 auto;
    }
 }
 @media screen and (min-width : 768px){
    .section-1{
            width: 425px;
            margin-left: 165px;
    }
    .botones-ayuda{
        max-width: 539px;
    }
    .contacto-pais{
        max-width: 445px;
    }
    .section2{
        padding-bottom: 1rem;
    }
    div .container{
        align-items: center;
    }
    .agregarclase{
        gap:10%
    }
    div .agregarclase{
        margin-top: 2rem;
    }

 }

