:root{
    --NegroPuma: #111111;
    --Secundario: #3860BE;
    --BlancoPuma: #FFFFFF;
    --GrisPuma: #696965;
}

*{
    box-sizing: border-box;
}

.background-full {
    background-color: grey;
}



.popup{
    width: 330px;
    height: auto;
    background-color: var(--NegroPuma);
    border-radius: 8px;
    margin:  0 auto;
    font-family: 'Barlow', sans-serif;
    padding-bottom: 12px;
    margin-top: 50px;
    margin-bottom: 200px;

}
.titulo{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Barlow';
    color: var(--BlancoPuma);
    padding-top: 30px;
    padding-bottom: 1rem;
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
}
.mail{
    color: var(--BlancoPuma);
    font-size: 1rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-bottom: 0px;

    }
.Mailnput{
    background-color: var(--NegroPuma);
    color: var(--BlancoPuma);
    width: 296px;
    height: 49px;
    font-size: 1rem;
    border: solid 1px;
    border-radius: 4px;
    border-color: var(--Secundario);
    margin-left: 17px;
    margin-top: 1rem;
    padding: 0.5rem;
}
.pass-input{
    background-color: var(--NegroPuma);
    color: var(--BlancoPuma);
    width: 296px;
    height: 49px;
    font-size: 1rem;
    border: solid 1px;
    border-radius: 4px;
    border-color: var(--Secundario);
    margin-left: 17px;
    margin-top: 1rem;
    padding: 0.5rem;
}

.form-check{
    margin-top: 8px;
    color: var(--BlancoPuma);
    }

.checkbox{
    border: solid var(--BlancoPuma);
    background-color: black;
}
.checkmark{
    font-size: 15px;
    color: var(--BlancoPuma);
}

.password-input{
    padding-top: 1rem;
}
.Ingreso{
    margin-bottom: 20px;
    float: left
}
.boton-confirmacion{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.btn-submit{
    margin: 0 auto;
    width: 100%;
    height: 36px;
    border-radius: 4px;
    border: none;
    background-color: var(--Secundario);
    color: var(--BlancoPuma);
    font-size: 1rem;
}
.separador{
    display: flex;
    margin-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}
.texto-separador{
    color: var(--BlancoPuma);
    margin: 0px;
    font-family: 'Barlow';

}  
.linea-separadora {
    border: none;
    color: var(--BlancoPuma);
    background-color: var(--BlancoPuma) ;
    height: 1px;
    width: 73px;
    margin-bottom: 10px;
  }
.boton-google{
    width: 100%;
    height: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 20px;
  }
.btn-google{
 height: 43px;
 display: flex;
 text-decoration: none;
 font-size: 1rem;
 color: var(--NegroPuma);
 background-color: var(--BlancoPuma);
 border-radius: 4px;
 align-items: center;
 pointer-events: none;
}
.google-logo{
width: 32px;
height: 32px;
margin-left: 1rem;
margin-right: 2rem;
}
.registro1{
    font-size: 16px;
    font-weight: 600;
    color: #111111;
    font-family: 'Barlow';
}
.boton-facebook{
    width: 100%;
    height: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    pointer-events: none;
    margin-bottom: 1rem;
  }
.btn-facebook{
 height: 43px;
 display: flex;
 text-decoration: none;
 font-size: 13px;
 font-weight: 600;
 color: var(--BlancoPuma);
 background-color: var(--Secundario);
 border-radius: 4px;
 align-items: center;
}
.facebook-logo{
    width: 32px;
    height: 32px;
    margin-left: 1rem;
    margin-right: 2rem;
}
.registro2{
    font-size: 16px;
    font-weight: 600;
    margin-top: 12.3px;
    margin-bottom: 12.3px;
    font-family: 'Barlow';
}