:root{
    --NegroPuma: #111111;
    --Secundario: #3860BE;
    --BlancoPuma: #FFFFFF;
    --GrisPuma: #696965;
}

*{
    box-sizing: border-box;

}

p {
    font-family: 'Barlow'
}
.popup{
    width: 330px;
    height: auto;
    background-color: red;
    border-radius: 8px;
    margin:  0 auto;
}
.titulo{
    text-align: center;
    color: var(--BlancoPuma);
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
    font-family: 'Barlow';
}

.mail{
    color: var(--BlancoPuma);
    font-size: 1rem;
    margin-left: 1rem;  
    }
    
.email-input {
    background-color: var(--NegroPuma);
    color: var(--BlancoPuma);
    width: 296px;
    height: 49px;
    font-size: 1rem;
    border: solid 1px;
    border-radius: 4px;
    border-color: var(--Secundario);
    padding: 0.5rem;
    margin-top: 16px
    
}
.container-checkbox{
    margin-bottom: 0px;
}
.form-check{
    padding-left: 17px;
    margin-bottom: 22px;
    margin-top: 10px;
    color: var(--BlancoPuma);
    }

.checkbox{
    border: solid var(--BlancoPuma);
    background: var(--NegroPuma);
}
.checkmark{
    font-size: 12px;
    color: var(--BlancoPuma);
    font-family: 'Barlow';
    
}

.boton-confirmacion{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.btn-submit{
    margin-top: 16px;
    width: 100%;
    height: 36px;
    border-radius: 4px;
    border: none;
    background-color: var(--Secundario);
    color: var(--BlancoPuma);
    font-size: 1rem;
    font-family: 'Barlow';
}
.separador{
    display: flex;
    margin-top: 20px;
}
.b-separador{
    color: var(--BlancoPuma);
    margin: 0px;
    font-size: 12px;    

}  
.linea-separadora {
    border: none;
    color: var(--BlancoPuma);
    background-color: var(--BlancoPuma) ;
    height: 1px;
    width: 73px;
    margin-bottom: 10px;
  }



.btn-google{
 height: 43px;
 display: flex;
 text-decoration: none;
 font-size: 1rem;
 color: var(--NegroPuma);
 background-color: var(--BlancoPuma);
 border-radius: 4px;
}
.google-logo{
margin-right: 32px;
margin-left: 1rem;
margin-top: 5.5px;
margin-bottom: 5.5px;
}
.registro1{
    font-size: 1rem;
    margin-top: 12.3px;
    margin-bottom: 12.3px;
}
.boton-facebook{
    width: 100%;
    height: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
  }
.btn-facebook{
 height: 43px;
 display: flex;
 text-decoration: none;
 font-size: 1rem;
 color: var(--BlancoPuma);
 background-color: var(--Secundario);
 border-radius: 4px;
}
.facebook-logo{
margin-right: 32px;
margin-left: 1rem;
margin-top: 5.5px;
margin-bottom: 5.5px;
}
.registro2{
    font-size: 1rem;
    margin-top: 12.3px;
    margin-bottom: 12.3px;
}

