<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= link_to t('common.edit'), edit_category_path(@category) %> |
<%= link_to t('common.back'), categories_path %>
